@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'Framework Stonelabs Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Framework Stonelabs Regular'), url('../fonts/FrameworkStonelabs-xRjRO.woff') format('woff');
    }
/* Scroll Bar */
::-webkit-scrollbar{
    behavior: smooth;
}
::selection{
    background-color: #6b61f8;
    color: #0D1117;
}

/* Mouse Effect */
.spark{
    z-index: -1;
    position: absolute;
    pointer-events: none;
    animation: animate-1 2s linear forwards;
    font-size: 6px;
    font-weight: bold;
    color: #6b61f8;
    text-shadow: 0 0 4px rgba(107, 97, 248, 0.6);
}
@keyframes animate-1{
    0%{
        opacity: 1;
        transform: translate(0,0);
    }
    100%{
        opacity: 0;
        transform: translate(var(--x),var(--y));
    }
}
.spark1{
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateY(-20px);
}
.spark1 span{
    position: absolute;
    width: 2px;
    height: 20px;
    pointer-events: none;
    transform-origin: bottom;
    filter: drop-shadow(0 0 10px #6b61f8) drop-shadow(0 0 20px #6b61f8);
    box-shadow: 0 0 20px #6b61f8, 0 0 40px #6b61f8;
}
.spark1 span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6b61f8;
    animation: animate-2 2s ease-in-out forwards;

}
@keyframes animate-2{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(1500%);
    }

}

html{
    cursor: url('../img/arrow.png'), auto;
    scroll-behavior: smooth;
    scrollbar-color: #6b61f8 #0D1117;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    font-family: 'Montserrat';
}

/* Pre Nav */
.pre-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #25292E;
    height: 48px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(0);
    opacity: 1;
    z-index: 1000;
}
.pre-nav-logo p {
    margin: 0;
    font-family: 'Framework Stonelabs Regular';
    font-size: 2rem;
    font-weight: 400;
    color: #EBF1F7;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    text-decoration: none;
}
.pre-nav-links a {
    margin-right: 50px;
    color: #EBF1F7;
    font-size: 1.8rem;
    text-decoration: none;
    transition: color 0.2s;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
.pre-nav-links a:hover {
    color: #6b61f8;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .pre-nav-links a {
        font-size: 1.5rem;
    }
    .pre-nav-logo p {
        font-size: 1.5rem;
    }
    
}

/* Main Nav */
.nav {
    background-color: #0D1117;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    animation: fadeInDown 0.5s ease-in forwards;
    transition: top 0.3s ease-in-out;
    z-index: 1000;

}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links li {
    display: flex;
    align-items: center;
    margin: 0 36px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-links i {
    margin-right: 12px; 
    font-size: 1.5rem;
    color: #EBF1F7;
    transition: transform 0.3s ease;
}
.nav-links a {
    font-family:'Ubuntu';
    text-decoration: none;
    color: #EBF1F7;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.nav-links a:hover {
    background-color: #25292E;
}
.nav-links a.active {
    position: relative;
}
.nav-links a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #F78166;
    position: absolute;
    bottom: -10px;
    border-radius: 20%;
    left: 100%;
    transform: translateX(-100%);
}

.main-nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    z-index: 999;
    background-color: #0D1117;
    transition: top 0.3s ease-in-out;
}
.pre-nav-hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.hr-line{
    height: 1px;
    color: #42464b;
    background-color: #42464b;
    border: 0;
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    .nav-links li {
        margin: 0 12px;
    }
    .nav-links i {
        font-size: 1rem;
    }
    .nav-links a {
        font-size: 0.9rem;
    }
}

/* Footer */
footer {
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom:1;
    left: 0;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 1%;
    background-color: #14181D;
}
footer ul li{
    display: inline;
}
footer ul li a{
    text-decoration: none;
    margin: 1%;
    color: #EBF1F7;
    font-size: 0.9rem;
    opacity: 1;
}
footer ul li a:hover{
    opacity: 2;
    color: #6b61f8;
}
.footer-line-1{
    margin-top: 15px;
}
.footer-line-1 ul{
    margin: 0;
    padding: 0;
}
.footer-line-2 .logo-img{
    margin-top: 15px;
    width: 40px;
    opacity: 1;
}
.footer-line-2 p{
    color: #EBF1F7;
    font-size: 0.9rem;
    opacity: 1;
}
.footer-line-2 a{
    text-decoration: none;
    color: #6b61f8;
    font-size: 0.9rem;
    opacity: 1;
}
.footer-line-2 a:hover{
    color: #EBF1F7;
}
footer .wave{
    position: absolute;
    top: -100px; ;
    left: 0;
    width: 100%;
    height: 100px;
    background:url('../img/wave.png') ;
    background-size: 1000px 100px;
    z-index: -9999;
}
footer .wave#wave-1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
    z-index: -9999;
}
footer .wave#wave-2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
    z-index: -9999;
}
footer .wave#wave-3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
    z-index: -9999;
}
footer .wave#wave-4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
    z-index: -9999;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
@media screen and (max-width: 768px) {
    footer ul li a{
        font-size: 0.8rem;
    }
    .footer-line-2 .logo-img{
        width: 30px;
    }
    .footer-line-2 p{
        font-size: 0.8rem;
    }
    .footer-line-2 a{
        font-size: 0.8rem;
    }
}

